body {
   background-image: linear-gradient(
    to right, /* or 'to bottom' for horizontal stripes, or an angle like 45deg */
    #c7e8fd 0%, /* Red starts at 0% */
  
    #20deff 100% /* Yellow ends at 100% */
  );
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(245, 188, 242);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 188, 242);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 10px double rgb(245, 188, 242);
}

h2{
  color: rgb(90, 161, 209);
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}