

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(245, 188, 242);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 188, 242);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 10px double rgb(245, 188, 242);
}

h2{
  color: rgb(90, 161, 209);
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}


body{
  background-image: url(https://i.pinimg.com/originals/17/00/09/170009ce70039c9a6c900f9e61759d88.gif);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

